:root {
    --primary-color: #3B5998;
    --primary-hover: #2d4373;
    --text-dark: #1e293b;
    --text-gray: #64748b;
    --border-color: #e2e8f0;
    --bg-main: #f8fafc;
    --white: #ffffff;
    --danger: #ef4444;
}

/* Layout */
.dashboard-container {
    display: flex;
    min-height: 100vh;
    background-color: var(--white);
}

.dashboard-main-content {
    flex-grow: 1;
    background-color: var(--bg-main);
    height: 100vh;
    overflow-y: auto;
}

.chuyen-giao-hang-page {
    padding: 30px 50px;
}

/* Header */
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    padding: 20px 32px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
}

.page-header h1 {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--text-dark);
    font-size: 24px;
    font-weight: 700;
}

.header-actions {
    display: flex;
    gap: 12px;
}

/* Buttons */
.btn-primary {
    padding: 12px 26px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

.btn-primary:hover {
    background-color: var(--primary-hover);
    transform: translateY(-2px);
}

.btn-secondary{
    background: white;
    border: 1px solid var(--border-color);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    color: var(--text-gray);
}
.banner-action-button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(59, 89, 152, 0.4);
    transition: transform 0.2s, background-color 0.2s;
}
/* No results */
.no-results {
    text-align: center;
    padding: 40px 0;
    color: var(--text-gray);
}

.no-results svg{
    color:#bfc5d3;
}
